Django>=5.0,<5.2
python-dotenv>=1.0
openpyxl>=3.1
qrcode>=7.4
whitenoise>=6.6
gunicorn>=22.0     # سرور WSGI برای Production روی لینوکس
waitress>=3.0      # سرور WSGI برای Production روی ویندوز
# دیتابیس‌های نهایی (در صورت نیاز نصب شوند):
# psycopg2-binary>=2.9        # PostgreSQL
# mssql-django>=1.5           # SQL Server (به همراه pyodbc)
# pyodbc>=5.1                 # درایور ODBC برای SQL Server
